@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sora", sans-serif;
}

/* header */
header {
  height: 90px;
  width: 100%;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  padding: 40px 20px;
}

.wrapper {
  width: calc(100% - 120px);
  max-width: 1200px;
  margin: 0 auto;
}

header .wrapper {
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
}

nav ul {
  display: flex;
  gap: 20px;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: black;
}

.active {
  color: red;
}

.logo {
  max-width: 380px;
  height: 30px;
  background-color: red;
}

.logo img {
  width: 100%;
  height: 100%;
  display: block;
}

body {
  padding-top: 80px;
}

.hero {
  position: relative;
  height: 640px;
  width: 100%;
  background: url('/assets/images/feira2.jpg');
  background-position: center;
  background-size: cover;
}

.hero::before {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  background: linear-gradient(270deg, #CC2A2A, #CC2A2A00);
  opacity: 62%;
  position: absolute;
  mix-blend-mode: multiply;
}

.hero .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.hero-content {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: #EE1C25;
  color: white;
  max-width: 617px;
  opacity: 80%;
  border-radius: 24px;
}

.hero-content h1 {
  padding: 40px 40px 0 40px;
  font-size: 30px;
  color: white;
  font-weight: 500;
}

.hero-content-location {
  padding: 0 40px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.local-feira {
  position: relative;
}

.local-feira::before {
  position: absolute;
  content: '';
  display: block;
  top: -10px;
  left: -20px;
  width: 2px;
  height: 80px;
  background: white;
}

.botao {
  padding: 0 40px;


}


.btn {
  transition: all 1s;
  background-color: white;
  color: #000;
  padding: 10px 20px;
  font-weight: 500;
  text-decoration: none;
}


.feira-info {
  padding: 15px 40px;
  display: flex;
  gap: 9px;
  background-color: #fff;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
}

.feira-info p {
  color: #000;
  font-size: 16px;
}

.active-btn {
  color: #EE1C25 !important;
}

/* descricao */
.descricao-feira .wrapper {
  margin-top: 100px;
  margin-bottom: 50px;
  display: grid;
  align-items: center;
  gap: 50px;
  grid-template-columns: repeat(2, 1fr);
  min-height: 484px;
}

.conteudo-desc {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.conteudo-desc h1 {
  max-width: 458px;
  font-size: 50px;
  font-weight: 500;
  color: #000;
}

.conteudo-desc p {
  font-size: 17px;
  margin-bottom: 20px;
}

.btn-vermelho {
  background-color: #EE1C25;
  padding: 16px;
  text-decoration: none;
  color: white;
}

.conteudo-image {
  width: 100%;
  height: 100%;

}

.conteudo-image img {
  width: 100%;
  height: 100%;
  object-fit:cover;
  display: block;
  border-radius: 33px;
}

/* Image Slider */
.image-slider {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin-top: 50px;
}

.image-slider .wrapper {
  width: 100%;
}

.slider-wrapper {
 
  width: 100%;
  overflow: hidden;
}

.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
  box-sizing: border-box;
  position: relative;
  height: 693px;
  margin-bottom: 100px;
}
.slide::before{
  position: absolute;
  content: '';
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, #CC2A2A, rgb(204, 42, 42, 0.5));
  opacity: 100%;
  mix-blend-mode: multiply;
}
.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.slide-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 11;
  color: white;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  

}
.slide-text .wrapper{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  

}

.navigation {

  position: absolute;
  width: 100%;
  top: 35%;
  transform: translateY(-50%);
}
.navigation .wrapper{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.navigation button {
  background-color: transparent;
  color: white;
  border: none;
  padding: 10px;
  font-size: 54px;
  cursor: pointer;
  border-radius: 50%;
}

.navigation button:hover {
  color: rgba(0, 0, 0, 0.7);
  
}

.content-silder{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 100px;
  margin: 50px 80px;

}
.content-slider-text {
  display: flex;
  flex-direction: column;
  gap: 20px;

}

.content-slider-text h1{
  font-size: 35px;
  color: white;
  text-shadow: 10px 0px 10px rgba(0, 0, 0,);
}
.content-slider-text p{
  font-size: 17px;
  color: white;
  line-height: 25px;
  font-family: "Work Sans", sans-serif;
}
.parceiros{
  display: flex;
  flex-direction: column;
  gap: 30px
}
.box-image{
display: flex;
gap: 30px;
}
.box-image .img{
margin: 0 20px 0 0;
  width: 95px;
  height: 95px;
 

}

.box-image .img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  object-fit: cover;
}


.content-slider-info{
  padding-top: 70px;
  display: flex;
  gap: 50px;
}


.content-slider-info h1{
  color: white;
  font-size: 50px;
}
.content-slider-info p{
  color: white;
}



/* formulario */



.formula .wrapper{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 100px;
}

.formulario{
  max-width: 600px;
  padding: 20px;
}
#contactForm h1{
  font-size: 50px;
  margin-bottom: 30px;
  font-family: 'Sora', sans-serif;
}

.form1{
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.form-group {
  margin-bottom: 20px;
  flex: 1;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #E6E6E6;
}

button {
  padding: 10px 40px;
  background-color: #EE1C25;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #8c0f15;
}

#loading {
  text-align: center;
  margin-top: 20px;
}

#loading img {
  width: 50px;
}

#descricao{
  min-height: 112px;
}

.image-formulario{
  width: 100%;
}

.image-formulario img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}


/* Responsive Styles */
@media (max-width: 768px) {
  .container{
    flex-direction: column;
  }
  .containr-text .text{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
 
  .text {
    flex: 1;
    padding-right: 0;
    text-align: center;
}
.stats {
    flex: 1;
    text-align: start;

}
.container-stats{
  padding: 30px 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.container-stats .stats h1{
  font-size: 25px;
}
.container-stats .stats p{
  font-size: 16px;
  padding: 10px;
}
  .slide-text {
    font-size: 14px;
    padding: 5px;
  }
  .content-slider-text h1{
    font-size: 25px;
  }
  .formula .wrapper{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 100px;
  }
  .image-formulario{
    display: none;
  }
  #contactForm h1{
    font-size: 25px;
    margin-bottom: 30px;
    font-family: 'Sora', sans-serif;
  }
  .navigation button {
    padding: 5px;
  }

  .descricao-feira .wrapper {
    grid-template-columns: repeat(1, 1fr);
  }

  .hero-content-location {
    grid-template-columns: repeat(1, 1fr);
  }

  .conteudo-desc h1 {
    font-size: 30px;
  }

  .hero-content h1 {
    font-size: 30px;
  }

  .wrapper {
    width: calc(100% - 50px);
    max-width: 1200px;
    margin: 0 auto;
  }
}


footer{

  background-color: #EE1C25;
}

footer .wrapper{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 100px;
  align-items: center;
  padding-top: 50px;
  padding: 50px 0;
  color: white; 
}

footer .wrapper h1{

  font-size: 35px;
  font-family: 'Sora', sans-serif;
  margin-bottom: 20px;
}

footer .wrapper p{
  font-size: 17px;
  line-height: 25px;
  font-family: "Work Sans", sans-serif;
}


/* Mobile menu */
#menu-toggle {
  display: none;
  font-size: 24px;
  background: none;
  border: none;
}

#menu {
  display: flex;
}

@media (max-width: 768px) {
  #menu-toggle {
    display: block;
  }
  .nav-slider {
      position: absolute;
      width: 100% !important;
      top: 35%;
      transform: translateY(-50%);
    }
    .containr-text .text{
      display: flex;
      flex-direction: column !important;
      flex-wrap: wrap;
    }
    .containr-text .text h1{
      flex: 1;
      font-size: 30px !important;
      line-height: 35px !important;
      width: 100%;
      word-wrap: break-word;
     }
    .containr-text .text p{
      flex: 1;
      font-size: 17px;
     }
  #menu {
    display: none;
    flex-direction: column;
    width: 100%;
    background: white;
    position: absolute;
    top: 120px;
    left: 0;
    padding: 10px 0;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  }

  #menu.show {
    display: flex;
    position: absolute;
    z-index: 999;
  }

  nav ul {
    flex-direction: column;
    gap: 10px;
  }

  nav ul li {
    text-align: center;
  }

  .local-feira::before {
    display: none;
  }

  footer .wrapper{
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  
  }
  footer .wrapper h1{
   font-size: 27px;
  
  }
 
  }




@media (max-width: 1133px) {
  .content-silder{
    word-break: break-all;
    grid-template-columns: repeat(1, 1fr);
    width: calc(100% - 50px);
    gap: 0px;
  }
  .nav-slider {
      position: absolute;
      width: 100% !important;
      top: 35%;
      transform: translateY(-50%);
    }
  .content-slider-info{
    padding: 10px;
    word-break: break-all;

  }
  .content-slider-info h1{
    color: white;
    font-size: 28px;
    word-break: break-all;
  }

  .box-image{
    grid-template-columns: repeat(2, 1fr);
  }
  .box-image .img{
    margin: 0 20px 0 0;
      width: 50px;
      height: 50px;
     
    
    }

    .image-slider .wrapper {
      width: 100%;
    }
}

@media (max-width: 481px) {
  .parceiros{
    display: none;
  }
}
@media (max-width: 463px) {
  .parceiros{
    display: none;
  }
  .content-slider-info{
    display: none;
  }
  .image-slider .wrapper {
    width: 100%;
  }
  .content-silder{

    margin: 16px;
    padding: 16px;
  
  }
}

.hero-about{
  font-family: 'Work Sans', sans-serif;
  min-height: 478px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('/assets/images/hero.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.hero-about::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #EE1C25;
  opacity: 87%;

}

.hero-about-content{
  position: relative;
  z-index: 1;
  max-width: 500px;
  padding: 30px;
}
.hero-about-content h1{
  text-align: center;
  color: white;
  font-size: 50px;
  font-weight: 500;
  line-height: 52px;
  margin-bottom: 20px;
  font-family: 'Sora', sans-serif;
}
.hero-about-content p{
  text-align: center;
  color: white;
  font-size: 17px;
  line-height: 25px;
  margin-bottom: 20px;
  font-family: 'Work Sans', sans-serif;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px 0;
}
.text {
  flex: 3;
  padding-right: 20px;
  font-size: 25px;
  font-family: 'Work Sans', sans-serif;
  line-height: 25px;
}
.text p{
  font-family: 'Work Sans', sans-serif;
}
.stats {
  flex: 1;
  text-align: center;
  font-family: "Sora", sans-serif;
}
.stats h1 {
  margin: 0;
  font-size: 36px;
}
.stats p {
  margin: 5px 0;
  color: red;
}
.stats p span{
  color: black;
}
.container-stats{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex: 3;
}


.nav-slider {
  position: absolute;
  top: 50%;
}
.navigation .wrapper{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.navigation button {
  background-color: transparent;
  color: white;
  border: none;
  padding: 0px 50px;
  font-size: 54px;
  cursor: pointer;
  border-radius: 50%;
}

.navigation button:hover {
  color: rgba(0, 0, 0, 0.7);
  
}

.slider-container{
  position: relative;

}


.slides img{
  /* border-radius: 30px; */
}

.containr-text .text{
  display: flex;
  flex-direction: row;
}
.containr-text .text h1{
  flex: 1;
  font-size: 50px;
  line-height: 52px;
  font-weight: 500;
  font-family: 'Sora', sans-serif;
}
.containr-text .text p{
 flex: 1;
 font-size: 17px;
}


.categories-container {
  width: 90%;
  max-width: 1200px;
  
  padding: 60px 0;
 
}
.bb{
  display: flex;
  margin-bottom: 50px;
  flex-wrap: wrap;
  
  
}
.gg h1{
  margin-bottom: 50px;
  font-size: 35px;
}
.bb h1{
  padding-right: 80px;
  font-size: 35px;
  margin-bottom: 10px;
  
  
}

.categories {
  margin-bottom: 20px;
}

.all {
  margin: 0 10px;
  cursor: pointer;
  color: red !important;
  font-weight: bold;
}
.category {
  margin: 5px 5px;
  cursor: pointer;
  color: black;
  font-weight: bold;
  display: inline-block;
}

.category.active {
  text-decoration: underline;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.card {
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 252px;
  transition: transform 0.3s;
}

.card img {
  width: 100%;
  height: 255px;
  object-fit: cover;
}

.card-content {
  padding: 10px;
  background-color: #E2E2E2;
}

.card-content h2 {
  margin: 0;
  font-size: 18px;
  color: red;
}

.card-content p {
 
 
}

.card:hover {
  transform: translateY(-10px);
}


.sobre-evento{
  
  background-color: #E2E2E2;
}

.sobre-evento .wrapper{
  
  display:  grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}





.conteudo-desc h1{
  margin-top: 30px;
}
.conteudo-desc{
  padding-bottom: 30px;
}

.conteudo-desc li{
  padding-bottom: 10px;
}
.conteudo-desc ul{
  padding-left: 30px;
}
.conteudo-desc p{
  margin: 0;
}

.conteudo-info{
  background-color: white;
  padding: 30px;
}
.conteudo-info h2{
  padding-bottom: 20px;
}
.conteudo-info h4{
  padding-bottom: 20px;
}
.conteudo-info ul{
  padding-left: 20px;
}
.conteudo-info li{
  padding-bottom: 10px;
  list-style:disc;
}
.conteudo-info p{
  padding-bottom: 20px;
}


@media (max-width: 768px) {
  .grid {
      gap: 10px;
  }
  .sobre-evento .wrapper{
  
    display:  grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
  }
  .hero-content h1 {
    padding: 40px 40px 0 40px;
    font-size: 20px;
    color: white;
    font-weight: 500;
  }
}